.icon-48-settingss {
      background-image: url(../images/l_settingss.png);
      padding-left:60px!important;
}

.icon-48-settings {
      background-image: url(../images/l_settingss.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}